body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(pexels-pixabay-531756.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.biography {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightblue;
    background-image: url();
    box-shadow: 0 0 10px rgba(1, 1, 1, 1.1);
    padding: 20px;
    display: flex;
}

.profile {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.profile img {
    max-width: 100%;
    border: 2px solid red;
    border-radius: 50px 20px;
    border: none
}

.text {
    flex: 2;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: lightseagreen; /* Warna judul */
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: lightslategray; /* Warna subjudul */
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: lightslategray; /* Warna teks */
}

/* Responsif untuk layar lebih kecil */
@media (max-width: 768px) {
    .biography {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        flex: 1;
    }

    .text {
        flex: 1;
        text-align: center;
        padding: 20px;
    }

    h1, h2, p {
        font-size: 85%;
    }
}
